.card-group.addOption{
    flex-wrap: wrap;
    width: 1100px;
}
.card.addOption{
    min-width: 240px;
    margin: 20px;
}

.card-group>.card+.card{
    margin-left: 20px; 
    border-left: auto; 
}

.card-text.addOption{
    position: absolute;
    bottom:10px;
    left: 0;
    text-align: center;
    right: 0
}

.card-title.addOption{
    padding-bottom:20px;
}

.card-body.addOption{
    position: relative;
    height: 150px;
}
